body, main {display: flex;
}
body {flex-direction: column;}
.special {flex-direction: row;
    flex: auto;

}
article {flex: 2;
    overflow-y: ;
}
aside {flex: 1;
    overflow-y: auto;
}
article {
    background-color: yellow;
}
.logo {
    width: 10px;
    height: inherit;
    color: blue;
}